body{background-color:lightblue;
     display:block;
     margin:auto;
    }
head{display:block;
   margin:auto;
  }
img{display:block;
    margin:auto;
   }
table{display:block;
      margin:auto;
     }
